@import './vars.scss';
@import './mixin.scss';
@import './element-reset.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}
label {
  font-weight: 700;
}
