// 自定义变量
$--font-color: #333333 !default;
$--font-size: 12px !default;
$--font-size-medium: 14px !default;
$--white-color: #ffffff !default;
$--font-family: PingFang SC, PingFang SC-Semibold;
$--border-color-base: #dadada !default;

$--color-primary: #409eff !default;
$--color-success: #4ab212 !default;
$--color-warning: #f39800 !default;
$--color-danger: #ff4e47 !default;
$--color-info: #909399 !default;

$--color-primary-hover: #1782f6 !default;
$--color-primary-active: #0865cb !default;

$--background-color-gray: #f0f0f0 !default;

$--border-color-normal: #eaeaea !default;
$--border-color-gray: #dddddd !default;

$--tree-color-hover: #f3f3f3 !default;
$--tree-color-active: #cce4ff !default;
